.search-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.search-bar-container form:first-child {
    flex-grow: 1;
    margin-right: 10px;
}

.search-bar-container form:last-child {
    display: flex;
    align-items: center;
}

.search-bar-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar-container button {
    padding: 8px 12px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}