.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-bar-container form:first-child {
    display: flex;
    align-items: center;
}

.search-bar-container form:last-child {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Add some space between filter and search */
}

.search-bar-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar-container button {
    padding: 8px 12px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}